.slider{
    justify-items: center;

}
.carousel {
    z-index: 1000;
    width: 90%;
    margin: 0 auto;
}

.carousel .carousel-item img {
    border-radius: 15px;
    margin: auto;
}

.carousel-indicators {
    bottom: -42px;
}

.carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    display: none;
}