/* CREO QUE PEUEDO SACAR ESTA SECCION */
nav {
    position: relative;
    top: 0px;
}

.navbarContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;
}
.container-fluid{
    width: 100%;
}


#navegacion {
    font-size: 1.5vw;
    padding: 0px 0 4px 0;
    background-color: whitesmoke;
    color: whitesmoke;
    text-decoration: none;
    width: 100%;
    /* margin: auto; */
    position: relative;
    font-family: QsandSemiBold;
    border-radius: 15px 15px 0 0;
    animation: 0.8s opacityIn;
}

.navegacion.navbar-toggler {
    border-radius: 40%;
}

.navbar-collapse {
    background-color: whitesmoke;
    color: #1e5594;
    padding-top: 5px;
}

.navbar-collapse ul {
    justify-content: center;
}

.nav-link {
    opacity: 1;
    padding-top: 0;
    padding-bottom: 5px;
    color: #1e5594;
    font-family: QsandSemiBold;
}

.nav-link:hover {
    color: #2883c7;
}

.navbar-toggler-icon {
    margin: 3px;
}

.navegacion.noBanner {
    border-radius: 15px;
}

.navBar-nav{
    display: flex;
    flex-direction: row;
    justify-items: space-evenly;
    width: 100%;
}