.App {
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.App-link {
  color: #61dafb;
}
@font-face {
  font-family: Qsand;
  src: url(./assets/fonts/Quicksand-VariableFont_wght.ttf);
}
@font-face {
  font-family: QsandBold;
  src: url(./assets/fonts/static/Quicksand-Bold.ttf);
}
@font-face {
  font-family: QsandSemiBold;
  src: url(./assets/fonts/static/Quicksand-SemiBold.ttf);
}
@font-face {
  font-family: QsandLight;
  src: url(./assets/fonts/static/Quicksand-Light.ttf);
}
html {
  font-size: 67.5%;
}
body {
  font-family: Qsand, Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  animation: 0.5s ease-in opacityIn;
}

.contenedor {
  max-width: 85%;
  margin: 0 auto;
  position: relative;
}
/* 
.cartWidget {
  width: 50px;
  height: 50px;
  padding-top: 15px;
  position: relative;
  top: 10%;
} */
